header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 100px 25px 0px 25px;
    gap: 50px;
    background-image: url("/images/header3.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 7.5%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
    }
    .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        z-index: 2;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

        .logo {
            width: 25px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);   
        }
    }
    .portrait {
        position: absolute;
        right: -50px;
        bottom: 0;
        height: 550px;
        width: auto;
        z-index: 1;
        opacity: 0.9;
    }
    .arrow {
        position: relative;
        z-index: 3;
        cursor: pointer;
    }
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    gap: 0px;
    top: 0;
    left: 0;
    z-index: 2;
}
.block {
    width: 50px;
    height: 50px;

    &.color {
        backdrop-filter: hue-rotate(100deg);
    }
    &:hover {
        background-color: rgba(0,0,0, 0.2);
        backdrop-filter: hue-rotate(100deg);
    }
}

@media screen and (max-width: 1000px) {
    .portrait {
        right: -100px !important;
    }
}

@media screen and (max-width: 768px) {
    header{
        padding: 50px 25px;
        &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    }
    .portrait {
        right: -135px !important;
        opacity: 0.7 !important;
        bottom: -50px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 580px) {
    .header {
        height: 500px;
    }
    .portrait {
        right: -150px !important;
        opacity: 0.7 !important;
        bottom: -50px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 430px) {
    .header {
        height: 97.5vh;
        padding: 75px 15px;
        gap: 75px;
    }
}