$gradient-angle: linear-gradient(45deg, #5EEFE4, #FF4754, #FF9A19);
$gradient: linear-gradient(90deg, #5EEFE4, #FF4754, #FF9A19);
$blue: #5EEFE4;
$red: #FF4754;
$yellow: #FF9A19;
$dark: #101010;
$stroke: rgba(255, 255, 255, 0.1);